* {
	font-family: Verdana, Geneva, sans-serif;
}

button {
	height: 90%;
    width: 15%;
    border-radius: 5rem;
    background-color: #002AF5;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.grid-container {
	display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 60%;
    margin: 0 auto;
    padding: 1%;
    align-content: center;
    grid-gap: 20px 25px;
}

.grid-container > div {
	display: inline-block;
    font-size: 0.8rem;
    line-height: 1.33rem;
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 8px 20px lightgrey;
    border-radius: 1rem;
    padding: 1rem 0.5rem 2rem 0.5rem;
}

.highlight {
    background-color: #002AF5;
    color: white;
}

#header {
	height: 40px;
	width: 100%;
	background-color: black;
}

#headerLeft {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 48%;
	text-align: left;
	color: white;
	font-size: 18px;
	font-weight: 500;
	line-height: 2;
	padding-left: 1%;
	overflow: hidden;
}

#headerRight {
	display: inline-block;
    position: relative;
    height: 100%;
    width: 48%;
    text-align: right;
    overflow: hidden;
    line-height: 2.5;
}

#button {
	display: block;
    height: 40px;
    width: 100%;
    margin-top: 1%;
    text-align: center;	
}